
#content {
    margin: 0 auto;
    width: 900px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100px;
    font-family: Arial, sans-serif;
}

.text-1 {
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 20px;
    background-color: lightblue;
}

.text-2 {
    top: 0;
    right: 0;  /* Align to the right */
    padding: 10px;
    font-size: 58px;
    background-color: lightgreen;
}