

#content {
    margin: 0 auto;
    width: 900px;
}

.navbar navbar-expand-lg {
    background-color: brown;
}

p {
    font-size: 13px;
}

.navbar navbar-expand-lg bg-dark {
    color:aliceblue;
}


.masthead {
    background-color:rgb(73, 37, 12);
    top: 100px;
    height: 150px;
}

.name {
    position: absolute;
    top: 60px;
    right: 60px;
    padding: 10px;
    font-size: 30px;
}

.subtitle {
    position: absolute;
    top: 100px;
    right: 60px;
    padding: 10px;
    font-size: 20px;
}