
#content {
    margin: 0 auto;
    width: 900px;
}

#site-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-bottom:10px;
    text-align: center;
    word-spacing: 5px;
}

#description {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}

header {
    padding-bottom: 5px;
    border-bottom: 1.5px solid black;
}

#headline {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom:10px;
}

h2 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
}



p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}